body{
  margin: 0;
}

.navbar-container{
    position: fixed;
    top: 0;
    list-style: none;
    font-family: Arial;
    width: 100%;
    background: grey;
    margin: 0;
    padding: 10px;

}

ul.navbar{
  padding: 10px;
  background: none;
  text-align: center;
  font-size: 20px;
}

ul.navbar li{
  list-style: none;
  display: inline;
  margin: 20px;
}

ul.navbar li a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0;
}

ul.navbar li a:hover{
  text-shadow: 3px 2px whitesmoke;
}

.content-container{
  text-align: center;
  width: 844px;
  margin: 200px auto;
}

.card{
  width: 400px;
  height: 300px;
  
  list-style: none;
  display: inline;
  margin-right: 0;
  float: left;
  align: center;

}

.card-img{
  width: 400px;
  height: 300px;
}
.card-img-overlay{

}

.name{
  text-align: center;
  width: 100%;
}


.clear{
  clear: both;
}
